<div id="conf-promo">
  <a href="https://conf.vuejs.org">
    <img src="/images/conf.png" alt="vueconf">
    <p>İlk VueConf EU 21-23 iyun tarixində Polşanın Vroçlav şəhərində keçirilir!</p>
  </a>
</div>
