<li class="nav-dropdown-container resources">
  <a href="#" class="nav-link">Vəsaitlər</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/resources/partners.html") %>" class="nav-link">Partnyorlar</a></li>
    <li><a href="<%- url_for("/resources/themes.html") %>" class="nav-link">Mövzular</a></li>
    <li><a href="https://github.com/vuejs/awesome-vue" class="nav-link" target="_blank" rel="noopener">Möhtəşəm Vue</a></li>
    <li><a href="https://awesomejs.dev/for/vue/" class="nav-link" target="_blank" rel="noopener">Vue üçün paketlərə nəzər yetir</a></li>
  </ul>
</li>
